:root {
    /* Colour Pallete */
    --base-color1: #EFD9CE;
    --base-color2: #EFBC9B;
    --base-color3: #7FC29B;
    --base-color4: #817E9F;
    --base-color5: #65524D;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    color: var(--base-color1);
}

button {
    background-color: var(--base-color5);
    font-weight: bold;
    font-size: 15px;
    padding: 5px;
}

header {
    display:flex;
    flex-direction: row;
    background-color: var(--base-color5);
    margin: 0px;
    padding: 5px;
}

body {
    background-color: var(--base-color4);
}

h2 {
    font-size: 30px;
}

.card {
    position: absolute;
    left: 40%;
    right:40%;
    top: 30%;
    width: 300px;
    height: 250px;
    background-color: var(--base-color5);
    padding: 20px;
    margin: 20px;
    border: solid black 5px;
    border-radius: 25px;
}


/* First card displayed */
.welcome-screen {
    display: block;
}
#start-button {
    background-color: var(--base-color3);
    color: var(--base-color5);
}


/* Second card displayed */
.questions {
    display: none;
    height: 370px
}
.answer {
    background-color: var(--base-color3);
    color: var(--base-color5);
    padding: 5px 5px 5px 20px;
    border: solid black 5px;
    margin: 10px 0px 5px 0px;
    border-radius: 20px;
}
.answer-tabs{
    color: var(--base-color5);
}
#question-title {
    text-align: center;
}
#response {
    display: none;
    position: absolute;
    bottom: 30%;
    left: 40%;
    color: var(--base-color1);
}  
#submit-answer {
    background-color: var(--base-color3);
    color: var(--base-color5);
}

/* Third card displayed */
.user-score {
    display: none;
    text-align: center;
}
#user-initials {
    color: black;
    width: 70px;
    text-align: center;
}
#score-submit {
    background-color: var(--base-color3);
}

/* Fourth card displayed */
.high-score {
    display: none;
    text-align: center;
    list-style: inside;
}
#restart {
    position: relative;
    right: 50px;
    bottom: 5px;
    width: 90px;
    background-color: var(--base-color3);
    color: var(--base-color5);
}
#clear-highscore {
    position: relative;
    left: 50px;
    bottom: 5px;
    width: 90px;
    background-color: var(--base-color3);
    color: var(--base-color5);
}


.highscoreButton {
    color: var(--base-color5);
    background-color: var(--base-color3);
    text-align: left;
    top: 10px;
    left: 40px;
    padding: 15px;
    margin: 5px;
    font-size: 30px;
    border: solid black 2px;
}

#timer {
    position: absolute;
    right: 40px;
    top: 22px;
    color: var(--base-color5);
    background-color: var(--base-color3);
    padding: 2px 10px 2px 10px;
    border: solid black 2px;
    font-size: 30px;
}
